# Import data and choose columns

In [1]:
import pandas as pd
import numpy as np
import json
import requests

In [2]:
fifa = pd.read_csv("fut_bin20_players.csv", index_col=0)
fifa= pd.DataFrame(fifa)

/home/jorge/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
fifa.head()

,player_name,player_extended_name,quality,revision,origin,overall,club,league,nationality,position,...,ps4_max,ps4_prp,xbox_last,xbox_min,xbox_max,xbox_prp,pc_last,pc_min,pc_max,pc_prp
futbin_id,,,,,,,,,,,,,,,,,,,,,
1,Pelé,Edson Arantes Nascimento,Gold - Rare,Icon,Prime,98,Icons,Icons,Brazil,CAM,...,11700000.0,47,5198000.0,593000.0,11300000.0,43,NaN,790000.0,15000000.0,47
2,Maradona,Diego Maradona,Gold - Rare,Icon,Prime,97,Icons,Icons,Argentina,CAM,...,7600000.0,47,3799000.0,364000.0,6900000.0,52,6500000.0,456000.0,8700000.0,73
3,Ronaldo,Ronaldo Luís Nazário de Lima,Gold - Rare,Icon,Prime,96,Icons,Icons,Brazil,ST,...,15000000.0,90,10300000.0,945000.0,15000000.0,66,NaN,790000.0,15000000.0,96
4,Pelé,Edson Arantes Nascimento,Gold - Rare,Icon,Medium,95,Icons,Icons,Brazil,CF,...,6500000.0,58,3375000.0,313000.0,5900000.0,54,5000000.0,399000.0,7600000.0,63
5,Maradona,Diego Maradona,Gold - Rare,Icon,Medium,95,Icons,Icons,Argentina,CAM,...,3400000.0,55,1825000.0,193000.0,3700000.0,46,2200000.0,234000.0,4400000.0,47

In [4]:
fifa = fifa[["player_name", "player_extended_name", "nationality", "position", "overall"]]

In [5]:
fifa.head()

,player_name,player_extended_name,nationality,position,overall
futbin_id,,,,,
1,Pelé,Edson Arantes Nascimento,Brazil,CAM,98
2,Maradona,Diego Maradona,Argentina,CAM,97
3,Ronaldo,Ronaldo Luís Nazário de Lima,Brazil,ST,96
4,Pelé,Edson Arantes Nascimento,Brazil,CF,95
5,Maradona,Diego Maradona,Argentina,CAM,95

# Use API and import countries names

In [6]:
flags = requests.get("https://restcountries.eu/rest/v2/all")
flags= flags.json()

In [7]:
flags_name = [i["name"] for i in flags]
flags_url = [i["flag"] for i in flags]
flags_all = list(zip(flags_name, flags_url))

In [8]:
df = pd.DataFrame(flags_all)
df = df.rename(columns={0: 'name_country', 1: 'url'})

In [9]:
#Function to download flags of each countrie
#import urllib.request
#def imagenes(x, y):
    #return urllib.request.urlretrieve(x, y)

In [10]:
#for i in range(len(df)):
    #imagenes(df.iloc[i].url, df.iloc[i].name_country)

# Change name countries and join both df

In [11]:
old_countries = ["Holland", "England", "Korea Republic", "China PR","Republic of Ireland","United States","Scotland","Wales","Northern Ireland","Russia","Venezuela","Congo DR","Kosovo","FYR Macedonia","Cape Verde Islands","Moldova","Iran","Syria","St. Kitts and Nevis","Palestine","Tanzania","Korea DPR","Bolivia","São Tomé e Príncipe","St. Lucia","Vietnam"]
new_countries = ["Netherlands", "United Kingdom of Great Britain and Northern Ireland", "Korea (Republic of)","China","Ireland","United States of America","United Kingdom of Great Britain and Northern Ireland","United Kingdom of Great Britain and Northern Ireland","United Kingdom of Great Britain and Northern Ireland","Russian Federation","Venezuela (Bolivarian Republic of)","Congo (Democratic Republic of the)","Republic of Kosovo","Macedonia (the former Yugoslav Republic of)","Cabo Verde","Moldova (Republic of)","Iran (Islamic Republic of)", "Syrian Arab Republic","Saint Kitts and Nevis","Palestine, State of","Tanzania, United Republic of","Korea (Democratic People's Republic of)","Bolivia (Plurinational State of)","Sao Tome and Principe","Saint Lucia","Viet Nam"]

In [12]:
def change_nationality(old, new):
    fifa["nationality"] = fifa["nationality"].replace(old, new)

In [13]:
change_nationality(old_countries , new_countries)

In [14]:
final_data =fifa.merge(df,how='left', left_on='nationality', right_on='name_country')
final_data

,player_name,player_extended_name,nationality,position,overall,name_country,url
0,Pelé,Edson Arantes Nascimento,Brazil,CAM,98,Brazil,https://restcountries.eu/data/bra.svg
1,Maradona,Diego Maradona,Argentina,CAM,97,Argentina,https://restcountries.eu/data/arg.svg
2,Ronaldo,Ronaldo Luís Nazário de Lima,Brazil,ST,96,Brazil,https://restcountries.eu/data/bra.svg
3,Pelé,Edson Arantes Nascimento,Brazil,CF,95,Brazil,https://restcountries.eu/data/bra.svg
4,Maradona,Diego Maradona,Argentina,CAM,95,Argentina,https://restcountries.eu/data/arg.svg
...,...,...,...,...,...,...,...
18770,Ødegaard,Martin Ødegaard,Norway,CM,84,Norway,https://restcountries.eu/data/nor.svg
18771,Ødegaard,Martin Ødegaard,Norway,RW,80,Norway,https://restcountries.eu/data/nor.svg
18772,Kalu,Samuel Kalu,Nigeria,RM,85,Nigeria,https://restcountries.eu/data/nga.svg
18773,Yamaguchi,Hotaru Yamaguchi,Japan,CM,85,Japan,https://restcountries.eu/data/jpn.svg
18774,El Shaarawy,Stephan El Shaarawy,Italy,LW,85,Italy,https://restcountries.eu/data/ita.svg

# Create function to compare players and export df

In [15]:
def player(player_name):
    player = fifa.loc[fifa['player_extended_name'].str.contains(player_name)]
    player_max_overral = player[player['overall']==player['overall'].max()]
    return pd.DataFrame(player_max_overral)

def comparation(player_1, player_2):
    data_player_1 = player(player_1)
    data_player_2 = player(player_2)
    comparation_player = pd.concat([data_player_1,data_player_2])
    return comparation_player.sort_values(by="overall", ascending = False)

In [16]:
del final_data["name_country"]

In [17]:
del final_data["url"]

In [18]:
final_data.head()

  player_name          player_extended_name nationality position  overall
0        Pelé      Edson Arantes Nascimento      Brazil      CAM       98
1    Maradona                Diego Maradona   Argentina      CAM       97
2     Ronaldo  Ronaldo Luís Nazário de Lima      Brazil       ST       96
3        Pelé      Edson Arantes Nascimento      Brazil       CF       95
4    Maradona                Diego Maradona   Argentina      CAM       95

In [19]:
final_data.to_csv('fifa_clean.csv')